<footer class="footer">
    <div class="container-fluid">
        <div id="social-row" class="row justify-content-center">
            <div class="col-md-3"></div>
            <div class="col-md-6" style="display:inline-block;">
                <div class="line"></div>
                <ul id="footer-social" class="list-unstyled icons">
                    <li class="icon dropdown">
                        <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fab fa-twitter fa-2x" style="color: #212529;"></i></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="https://www.twitter.com/jpmorgan">J.P. Morgan</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="https://www.twitter.com/chase">Chase</a>
                        </div>
                    </li>
                    <li class="icon dropdown">
                        <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fab fa-facebook-square fa-2x" style="color: #212529;"></i></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="https://www.facebook.com/jpmorgan">J.P. Morgan</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="https://www.facebook.com/jpmorganchase">JPMorgan Chase</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="https://www.facebook.com/chase">Chase</a>
                        </div>
                    </li>
                    <li class="icon dropdown">
                        <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fab fa-linkedin fa-2x" style="color: #212529;"></i></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="https://www.linkedin.com/company/j-p-morgan">J.P. Morgan</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="https://www.linkedin.com/company/jpmorgan-chase">JPMorgan Chase</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="https://www.linkedin.com/company/chase">Chase</a>
                        </div>
                    </li>
                    <li class="icon dropdown">
                        <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fab fa-youtube fa-2x" style="color: #212529;"></i></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="https://www.youtube.com/user/jpmorgan">J.P. Morgan</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="https://www.youtube.com/user/welcometochase">Chase</a>
                        </div>
                    </li>
                    <li class="icon dropdown">
                        <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fab fa-instagram fa-2x" style="color: #212529;"></i></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="https://instagram.com/jpmorgan">J.P. Morgan</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="https://instagram.com/chase">Chase</a>
                        </div>
                    </li>
                </ul>
                <div class="line"></div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div id="give-margin" class="row justify-content-center">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <h3 class="footer-header-text">Privacy & Terms</h3>
                <ul class="list-unstyled text-small">
                    <li class="far-apart">
                        <a class="footer-detail-text" href="https://www.jpmorganchase.com/corporate/Home/privacy.html/" target="_blank">Privacy & Security</a>
                    </li>
                    <li class="far-apart">
                        <a class="footer-detail-text" href="https://www.jpmorganchase.com/corporate/Home/terms.html/" target="_blank">Terms of Use</a>
                    </li>
                    <li class="far-apart">
                        <a class="footer-detail-text" href="https://www.jpmorganchase.com/corporate/Home/cookie-policy.html/" target="_blank">Cookies Policy</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul id="give-space" class="list-unstyled text-small">
                    <li class="far-apart">
                        <a class="footer-detail-text" href="https://careers.jpmorgan.com/us/en/equal-opportunities/" target="_blank">Equal Opportunities</a>
                    </li>
                    <li class="far-apart">
                        <a class="footer-detail-text" href="https://careers.jpmorgan.com/us/en/recruitment-scams-warning/" target="_blank">Recruitment Scams Warning</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <h3 class="footer-header-text">Useful Links</h3>
                <ul class="list-unstyled text-small">
                    <li class="far-apart">
                        <a class="footer-detail-text" href="https://www.chase.com/" target="_blank">chase.com</a>
                    </li>
                    <li class="far-apart">
                        <a class="footer-detail-text" href="https://www.jpmorganchase.com/" target="_blank">jpmorganchase.com</a>
                    </li>
                    <li class="far-apart">
                        <a class="footer-detail-text" href="https://www.jpmorgan.com/" target="_blank">jpmorgan.com</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul id="give-space" class="list-unstyled text-small">
                    <li class="far-apart">
                        <a class="footer-detail-text" href="https://www.careersatchase.com/" target="_blank">Careers at Chase</a>
                    </li>
                    <li class="far-apart">
                        <a class="footer-detail-text" href="https://www.jpmorganchase.com/corporate/Careers/philippines.html/" target="_blank">Careers in the Phillippines</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="reserved-rights">
            <div class="reserved-rights-wrapper">
                <div class="copyright">
                    <p>&copy; 2020 JPMorgan Chase & Co. All rights reserved.</p>
                    <p>JPMorgan Chase & Co. is an equal opportunity employer and affirmative action employer Disability/Veteran.</p>
                </div>
                <div>
                    <p>
                        <a id="langs" href="https://careers.jpmorgan.com/us/en/home">US</a>
                        /
                        <a id="langs" href="https://careers.jpmorgan.com/jp/ja/home">日本語</a>
                        /
                        <a id="langs" href="https://careers.jpmorgan.com/cn/en/home">中文</a>
                        /
                        <a id="langs" href="https://careers.jpmorgan.com/in/en/home">IN</a>
                        /
                        <a id="langs" href="https://careers.jpmorgan.com/global/en/home">GLOBAL</a>
                    </p>  
                </div>
            </div>        
        </div>
    </div>
</footer>
