<footer>
    <div class="row justify-content-center">
        <div class="col-md-3"></div>
        <div class="line"></div>
        <div class="col-md-6">
            <ul id="footer-social" class="list-unstyled">
                <li>
                    <a href="#"></a>
                    <i class="fab fa-twitter"></i>
                </li>
                <li>
                    <a href="#"></a>
                    <i class="fab fa-facebook-square"></i>
                </li>
                <li>
                    <a href="#"></a>
                    <i class="fab fa-linkedin"></i>
                </li>
                <li>
                    <a href="#"></a>
                    <i class="fab fa-youtube"></i>
                </li>
                <li>
                    <a href="#"></a>
                    <i class="fab fa-instagram"></i>
                </li>
            </ul>
        </div>
        <div class="line"></div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <h3 class="footer-header-text">Privacy & Terms</h3>
            <ul class="list-unstyled text-small">
                <li>
                    <a class="footer-detail-text" href="https://www.jpmorganchase.com/corporate/Home/privacy.html/" target="_blank">Privacy & Security</a>
                </li>
                <li>
                    <a class="footer-detail-text" href="https://www.jpmorganchase.com/corporate/Home/terms.html/" target="_blank">Terms of Use</a>
                </li>
                <li>
                    <a class="footer-detail-text" href="https://www.jpmorganchase.com/corporate/Home/cookie-policy.html/" target="_blank">Cookies Policy</a>
                </li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="list-unstyled text-small">
                <li>
                    <a class="footer-detail-text" href="https://careers.jpmorgan.com/us/en/equal-opportunities/" target="_blank">Equal Opportunities</a>
                </li>
                <li>
                    <a class="footer-detail-text" href="https://careers.jpmorgan.com/us/en/recruitment-scams-warning/" target="_blank">Recruitment Scams Warning</a>
                </li>
            </ul>
        </div>
        <div class="col-md-2">
            <h3 class="footer-header-text">Useful Links</h3>
            <ul class="list-unstyled text-small">
                <li>
                    <a class="footer-detail-text" href="https://www.chase.com/" target="_blank">chase.com</a>
                </li>
                <li>
                    <a class="footer-detail-text" href="https://www.jpmorganchase.com/" target="_blank">jpmorganchase.com</a>
                </li>
                <li>
                    <a class="footer-detail-text" href="https://www.jpmorgan.com/" target="_blank">jpmorgan.com</a>
                </li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="list-unstyled text-small">
                <li>
                    <a class="footer-detail-text" href="https://www.careersatchase.com/" target="_blank">Careers at Chase</a>
                </li>
                <li>
                    <a class="footer-detail-text" href="https://www.jpmorganchase.com/corporate/Careers/philippines.html/" target="_blank">Careers in the Phillippines</a>
                </li>
            </ul>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="reserved-rights">

        </div>
    </div>
</footer>