<div class="container ">
    <div class="row">
    <div class="col-md-2"></div>

        <div class="col-md-4">
<h2 style="text-align:left;">2020 HBCU grads: lets celebrate!</h2>   

<p style="text-align: left;">
    Join us for a livestream event featuring an all star lineup of speakers and musical guests, including honored guest, President Barack Obama. Tune into #ShowMeYourWalk HBCU Edition on
    <b>May 16th at 2pm ET / 11am PT</b>
    on Chase Youtube and Twitter channels.
    <a href="">Learn more </a> <button type="button" class="btn btn-link"></button>

        </div>

        <div class="col-md-6">
            <img src="https://careers.jpmorgan.com/content/dam/careers/virtual-commencement/SOC1002B-Chase-Career-Website-Promo-Obama-v1.png" class="rounded float-right" alt="image" width="350" style="padding-right:0in">
        </div>
    </div>
</div>

