<div class="container-fluid ">
    <div class="row">
    <div class="col-12 justify-content-center">
     <div class="col-sm-6">
         <h1 class="text-center">Keep in touch</h1>
        <div class="row">
            <p class="text-center">Join our Student or Professional Talent Networks to stay informed on news, events, programs and deadlines.</p>
            <div class="col-sm-12 text-center">
            <button type="button" class="btn btn-success">Students</button>
         </div>
      </div>
    </div>
  </div>
  </div>
</div>